# This project will use machine learning techniques to perform loan approvals

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# import dataset 1
bank_loan_applications = pd.read_csv("../datasets/1. bank_loan_applications/application_data.csv")
bank_loan_applications.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
bank_loan_applications.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [5]:
list(bank_loan_applications.columns)

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [6]:
# import dataset 2
bank_loan_dataset = pd.read_csv("../datasets/2. bank_loans_dataset/application_data.csv")
bank_loan_dataset.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
bank_loan_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [8]:
list(bank_loan_dataset.columns)

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

* dataset 1 and 2 have almost the same information

In [2]:
# import dataset 3
loan_approval_dataset = pd.read_csv("../datasets/3.loan_approval_dataset/Loan.csv")
loan_approval_dataset.head()

,Unnamed: 0,id,year,loan_limit,gender,approv_in_adv,loan_type,loan_purpose,credit_worthiness,open_credit,...,co-applicant_credit_type,age,submission_of_application,ltv,region,security_type,status,dtir1,high_interest_rate,senior_age
0,126324,151214,2019,ncf,Male,nopre,type1,p3,l1,nopc,...,EXP,35-44,to_inst,70.063920,North,direct,0,42.0,1,0
1,13385,38275,2019,cf,Joint,nopre,type1,p4,l1,nopc,...,EXP,>74,not_inst,40.327381,North,direct,0,40.0,0,1
2,98606,123496,2019,cf,Sex Not Available,nopre,type1,p3,l1,nopc,...,CIB,55-64,to_inst,49.260355,south,direct,0,29.0,1,1
3,7184,32074,2019,cf,Female,nopre,type1,p3,l1,nopc,...,CIB,35-44,to_inst,74.280576,North,direct,0,44.0,1,0
4,120745,145635,2019,cf,Male,nopre,type1,p1,l1,nopc,...,CIB,35-44,not_inst,99.107143,North,direct,0,42.0,0,0

In [3]:
loan_approval_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148670 entries, 0 to 148669
Data columns (total 37 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 148670 non-null  int64
 1   id                         148670 non-null  int64
 2   year                       148670 non-null  int64
 3   loan_limit                 145326 non-null  object
 4   gender                     148670 non-null  object
 5   approv_in_adv              147762 non-null  object
 6   loan_type                  148670 non-null  object
 7   loan_purpose               148536 non-null  object
 8   credit_worthiness          148670 non-null  object
 9   open_credit                148670 non-null  object
 10  business_or_commercial     148670 non-null  object
 11  loan_amount                148670 non-null  int64
 12  rate_of_interest           148670 non-null  float64
 13  interest_rate_spread       112031 non-null  float64
 14  upfront_charges            109028 non-null  float64
 15  term                       148629 non-null  float64
 16  neg_ammortization          148549 non-null  object
 17  interest_only              148670 non-null  object
 18  lump_sum_payment           148670 non-null  object
 19  property_value             133572 non-null  float64
 20  construction_type          148670 non-null  object
 21  occupancy_type             148670 non-null  object
 22  secured_by                 148670 non-null  object
 23  total_units                148670 non-null  object
 24  income                     139520 non-null  float64
 25  credit_type                148670 non-null  object
 26  credit_score               148670 non-null  int64
 27  co-applicant_credit_type   148670 non-null  object
 28  age                        148470 non-null  object
 29  submission_of_application  148470 non-null  object
 30  ltv                        133572 non-null  float64
 31  region                     148670 non-null  object
 32  security_type              148670 non-null  object
 33  status                     148670 non-null  int64
 34  dtir1                      124549 non-null  float64
 35  high_interest_rate         148670 non-null  int64
 36  senior_age                 148670 non-null  int64
dtypes: float64(8), int64(8), object(21)
memory usage: 42.0+ MB

In [5]:
list(loan_approval_dataset.columns)

['Unnamed: 0',
 'id',
 'year',
 'loan_limit',
 'gender',
 'approv_in_adv',
 'loan_type',
 'loan_purpose',
 'credit_worthiness',
 'open_credit',
 'business_or_commercial',
 'loan_amount',
 'rate_of_interest',
 'interest_rate_spread',
 'upfront_charges',
 'term',
 'neg_ammortization',
 'interest_only',
 'lump_sum_payment',
 'property_value',
 'construction_type',
 'occupancy_type',
 'secured_by',
 'total_units',
 'income',
 'credit_type',
 'credit_score',
 'co-applicant_credit_type',
 'age',
 'submission_of_application',
 'ltv',
 'region',
 'security_type',
 'status',
 'dtir1',
 'high_interest_rate',
 'senior_age']

In [4]:
loan_approval_dataset.T

,0,1,2,3,4,5,6,7,8,9,...,148660,148661,148662,148663,148664,148665,148666,148667,148668,148669
Unnamed: 0,126324,13385,98606,7184,120745,142430,37242,58546,18909,89548,...,16230,64794,63950,19911,12409,82796,25109,136462,116343,83945
id,151214,38275,123496,32074,145635,167320,62132,83436,43799,114438,...,41120,89684,88840,44801,37299,107686,49999,161352,141233,108835
year,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,...,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019
loan_limit,ncf,cf,cf,cf,cf,ncf,cf,cf,cf,cf,...,cf,ncf,ncf,NaN,cf,cf,cf,cf,cf,cf
gender,Male,Joint,Sex Not Available,Female,Male,Male,Male,Female,Female,Joint,...,Joint,Sex Not Available,Joint,Sex Not Available,Female,Male,Male,Male,Male,Female
approv_in_adv,nopre,nopre,nopre,nopre,nopre,pre,nopre,pre,nopre,nopre,...,nopre,nopre,pre,pre,pre,nopre,nopre,nopre,pre,pre
loan_type,type1,type1,type1,type1,type1,type2,type1,type1,type1,type1,...,type2,type1,type1,type2,type2,type1,type2,type1,type1,type1
loan_purpose,p3,p4,p3,p3,p1,p3,p1,p1,p3,p4,...,p1,p3,p3,p1,p3,p1,p3,p3,NaN,p1
credit_worthiness,l1,l1,l1,l1,l1,l1,l1,l1,l1,l1,...,l1,l1,l1,l1,l1,l1,l1,l1,l1,l1
open_credit,nopc,nopc,nopc,nopc,nopc,nopc,nopc,nopc,nopc,nopc,...,nopc,nopc,nopc,nopc,nopc,nopc,nopc,nopc,nopc,nopc
business_or_commercial,nob/c,nob/c,nob/c,nob/c,nob/c,b/c,nob/c,nob/c,nob/c,nob/c,...,b/c,nob/c,nob/c,b/c,b/c,nob/c,b/c,nob/c,nob/c,nob/c
loan_amount,986500,406500,166500,206500,166500,736500,476500,276500,486500,676500,...,256500,236500,336500,276500,156500,156500,106500,256500,326500,356500
rate_of_interest,4.125,3.625,4.25,5.625,3.5,3.99,4.5,4.25,4.25,3.625,...,-1.0,-1.0,4.375,3.625,-1.0,3.875,4.125,3.99,4.125,3.75
interest_rate_spread,0.6174,-0.199,0.7779,1.1174,0.1533,1.1018,1.132,0.1958,0.6976,-0.0348,...,NaN,NaN,0.348,0.8021,NaN,0.4172,1.8843,0.7559,0.6865,0.14
upfront_charges,9825.0,1100.0,2379.51,6117.5,779.88,4725.0,1695.0,8912.5,0.0,981.56,...,NaN,NaN,2962.5,3120.32,NaN,4370.0,3007.81,1688.89,4475.75,4480.0
term,360.0,360.0,180.0,360.0,360.0,360.0,360.0,360.0,360.0,360.0,...,360.0,360.0,360.0,360.0,180.0,360.0,240.0,240.0,360.0,360.0
neg_ammortization,neg_amm,not_neg,not_neg,not_neg,not_neg,not_neg,not_neg,neg_amm,not_neg,not_neg,...,not_neg,not_neg,not_neg,not_neg,not_neg,not_neg,not_neg,not_neg,not_neg,neg_amm
interest_only,not_int,not_int,not_int,not_int,not_int,not_int,not_int,not_int,not_int,not_int,...,not_int,not_int,not_int,not_int,not_int,not_int,not_int,not_int,not_int,not_int
lump_sum_payment,not_lpsm,not_lpsm,not_lpsm,not_lpsm,not_lpsm,not_lpsm,not_lpsm,not_lpsm,not_lpsm,not_lpsm,...,lpsm,not_lpsm,not_lpsm,not_lpsm,not_lpsm,not_lpsm,not_lpsm,not_lpsm,not_lpsm,not_lpsm
property_value,1408000.0,1008000.0,338000.0,278000.0,168000.0,868000.0,508000.0,358000.0,658000.0,3058000.0,...,268000.0,328000.0,758000.0,288000.0,NaN,198000.0,128000.0,528000.0,378000.0,458000.0
construction_type,sb,sb,sb,sb,sb,sb,sb,sb,sb,sb,...,sb,sb,sb,sb,sb,sb,sb,sb,sb,sb
occupancy_type,pr,pr,pr,pr,pr,pr,pr,pr,pr,pr,...,pr,pr,pr,pr,pr,pr,pr,pr,pr,pr
secured_by,home,home,home,home,home,home,home,home,home,home,...,home,home,home,home,home,home,home,home,home,home
total_units,1U,1U,1U,1U,1U,1U,1U,1U,1U,1U,...,1U,1U,1U,1U,1U,1U,1U,1U,1U,1U
income,13380.0,5640.0,4740.0,3780.0,2400.0,8640.0,6060.0,3360.0,6120.0,14460.0,...,5040.0,2520.0,7680.0,10260.0,3960.0,2460.0,8460.0,3720.0,5400.0,9000.0
credit_type,CIB,CRIF,CRIF,EXP,CIB,CIB,CIB,CIB,CIB,CRIF,...,CRIF,EXP,EXP,EXP,EQUI,CRIF,CIB,CRIF,CIB,EXP
credit_score,864,505,829,763,886,663,504,636,537,883,...,791,705,866,782,577,670,720,775,787,516
co-applicant_credit_type,EXP,EXP,CIB,CIB,CIB,CIB,CIB,CIB,CIB,EXP,...,EXP,CIB,EXP,EXP,EXP,CIB,CIB,CIB,CIB,CIB
age,35-44,>74,55-64,35-44,35-44,35-44,25-34,45-54,35-44,55-64,...,35-44,>74,25-34,45-54,55-64,55-64,55-64,55-64,35-44,45-54
submission_of_application,to_inst,not_inst,to_inst,to_inst,not_inst,to_inst,not_inst,to_inst,not_inst,not_inst,...,to_inst,to_inst,to_inst,to_inst,to_inst,to_inst,to_inst,to_inst,to_inst,to_inst
ltv,70.06392,40.327381,49.260355,74.280576,99.107143,84.85023,93.799213,77.234637,73.93617,22.122302,...,95.708955,72.103659,44.39314,96.006944,NaN,79.040404,83.203125,48.579545,86.375661,77.838428
region,North,North,south,North,North,North,south,North,south,North,...,North,south,North,south,central,North,North,North,south,North
security_type,direct,direct,direct,direct,direct,direct,direct,direct,direct,direct,...,direct,direct,direct,direct,direct,direct,direct,direct,direct,direct
status,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,1,0,0,0,0,0
dtir1,42.0,40.0,29.0,44.0,42.0,47.0,44.0,47.0,42.0,23.0,...,38.0,43.0,27.0,41.0,NaN,37.0,22.0,49.0,38.0,30.0
high_interest_rate,1,0,1,1,0,0,1,1,1,0,...,0,0,1,0,0,0,1,0,1,0
senior_age,0,1,1,0,0,0,0,0,0,1,...,0,1,0,0,1,1,1,1,0,0

### dataset description


1. "Unnamed:0" : "Unknown"
2. "id": "row id",
3. "year": "year of application",
4. "loan_limit": "limit of each loan, with ncf -> Not Consumed Fully, cf -> Consumed FUlly",
5. "gender": "Male, Femail, Joint, Not provided",
6. "approv_in_adv": "nopre->not pre-approved", "pre->pre approved",
7. "loan_type": ,
 'loan_purpose',
 'credit_worthiness',
 'open_credit',
 'business_or_commercial',
 'loan_amount',
 'rate_of_interest',
 'interest_rate_spread',
 'upfront_charges',
 'term',
 'neg_ammortization',
 'interest_only',
 'lump_sum_payment',
 'property_value',
 'construction_type',
 'occupancy_type',
 'secured_by',
 'total_units',
 'income',
 'credit_type',
 'credit_score',
 'co-applicant_credit_type',
 'age',
 'submission_of_application',
 'ltv',
 'region',
 'security_type',
 'status',
 'dtir1',
 'high_interest_rate',
 'senior_age']

# loan_approval_dataset.transpose()

* this data set has promising labels that are feasible to use

In [11]:
# import dataset 4
loan_dataset = pd.read_csv("../datasets/4.loan_dataset/loan_data_2017.csv")
loan_dataset.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_14900\1846523296.py:2: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_dataset = pd.read_csv("../datasets/4.loan_dataset/loan_data_2017.csv")

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10000.0,10000.0,10000.0,60 months,19.53%,262.34,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,35000.0,35000.0,35000.0,60 months,20.75%,941.96,E,E2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,20000.0,20000.0,20000.0,60 months,9.16%,416.73,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,17475.0,17475.0,17475.0,60 months,11.47%,384.06,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,8000.0,8000.0,8000.0,36 months,9.16%,255.00,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
loan_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133889 entries, 0 to 133888
Columns: 145 entries, id to settlement_term
dtypes: float64(107), object(38)
memory usage: 148.1+ MB

In [13]:
list(loan_dataset.columns)

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'disbursement_method',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

In [21]:
loan_dataset.T

,0,1,2,3,4,5,6,7,8,9,...,133879,133880,133881,133882,133883,133884,133885,133886,133887,133888
id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total amount funded in policy code 1: 2087217200,Total amount funded in policy code 2: 662815446
member_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loan_amnt,10000.0,35000.0,20000.0,17475.0,8000.0,14400.0,18000.0,5800.0,12500.0,3000.0,...,24100.0,4000.0,5000.0,6000.0,6000.0,14400.0,34050.0,5000.0,NaN,NaN
funded_amnt,10000.0,35000.0,20000.0,17475.0,8000.0,14400.0,18000.0,5800.0,12500.0,3000.0,...,24100.0,4000.0,5000.0,6000.0,6000.0,14400.0,34050.0,5000.0,NaN,NaN
funded_amnt_inv,10000.0,35000.0,20000.0,17475.0,8000.0,14400.0,18000.0,5800.0,12500.0,3000.0,...,24100.0,4000.0,5000.0,6000.0,6000.0,14400.0,34050.0,5000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
settlement_status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
settlement_date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
settlement_amount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
settlement_percentage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
settlement_term,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# dataset description

In [14]:
# import dataset number 5

In [15]:
# df = pd.read_excel("../datasets/5.bank dataset/bank-full.xlsx")
# # Write the DataFrame to a CSV file
# df.to_csv("../datasets/5.bank dataset/bank_dataset.csv", index=False)  

# we no longer need to run the above lines since we now have our dataset in csv locally

In [16]:
# we now import the dataset
bank_dataset = pd.read_csv("../datasets/5.bank dataset/bank_dataset.csv")
bank_dataset.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [18]:
bank_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [ ]:
# for progress sake i will use the 3rd dataset,

# This is a new dataset i will analyze before training the model

In [15]:
loan_dataset_5 = pd.read_csv("local_dataset.csv")
loan_dataset_5.T

,0,1,2,3,4,5,6,7,8,9,...,102,103,104,105,106,107,108,109,110,111
Company Name,ABC Holdings,Tech Solutions,ZimMart,Hospitality Inn,BuildZim,Econet Wireless,OK Zimbabwe,Delta Corporation,Seed Co Zimbabwe,Innscor Africa,...,HealthCare Holdings Limited,Medical Investments Limited,City Health Care Partnership (Pvt) Ltd,Cimas Medical Aid Society,Trauma Centre Hospital (Pvt) Limited,City Medical Centre (Pvt) Limited,PSMI Holdings (Pvt) Limited,HealthPlus Medical Services (Pvt) Ltd,HealthGuard Medical Services (Pvt) Ltd,Fidelity Life Medical Aid Society
Business Revenue,"$500,000","$300,000","$700,000","$400,000","$600,000","$1,200,000","$800,000","$1,500,000","$900,000","$1,100,000",...,"$2,200,000","$1,800,000","$1,500,000","$2,500,000","$2,000,000","$1,700,000","$1,600,000","$2,300,000","$2,100,000","$1,900,000"
Profitability,15%,10%,20%,12%,18%,25%,18%,20%,15%,22%,...,27%,24%,22%,29%,26%,23%,25%,28%,26%,24%
Cash Flow,"$50,000","$30,000","$70,000","$40,000","$60,000","$120,000","$80,000","$150,000","$90,000","$110,000",...,"$220,000","$180,000","$150,000","$250,000","$200,000","$170,000","$160,000","$230,000","$210,000","$190,000"
Business Age,10 years,5 years,15 years,7 years,12 years,20 years,25 years,40 years,35 years,30 years,...,20 years,18 years,16 years,22 years,19 years,17 years,16 years,21 years,20 years,18 years
Industry Sector,Financial Services,Technology,Retail,Hospitality,Construction,Telecommunications,Retail,Beverages,Agriculture,Food,...,Healthcare,Healthcare,Healthcare,Healthcare,Healthcare,Healthcare,Healthcare,Healthcare,Healthcare,Healthcare
Business Structure,Corporation,Limited Liability Company,Sole Proprietorship,Partnership,Corporation,Corporation,Corporation,Corporation,Corporation,Corporation,...,Corporation,Corporation,Corporation,Non-profit,Corporation,Corporation,Corporation,Corporation,Corporation,Non-profit
Ownership Structure,Founder-owned,Co-founder partnership,Family-owned,Multiple partners,Investor-owned,Founder-owned,Publicly traded,Publicly traded,Publicly traded,Founder-owned,...,Public,Public,Private,Non-profit,Private,Private,Private,Private,Private,Non-profit
Credit History,Good,Limited,Excellent,Moderate,Strong,Excellent,Good,Excellent,Good,Excellent,...,Excellent,Excellent,Good,Excellent,Excellent,Good,Good,Excellent,Excellent,Good
Collateral Value,"$750,000","$400,000","$900,000","$600,000","$1,000,000","$2,000,000","$1,500,000","$3,000,000","$1,200,000","$2,500,000",...,"$3,200,000","$2,800,000","$2,200,000","$4,000,000","$3,000,000","$2,500,000","$2,400,000","$3,500,000","$3,200,000","$2,800,000"
Debt-to-Equity Ratio,0.5,0.3,0.8,0.6,0.4,0.3,0.4,0.5,0.4,0.6,...,0.5,0.4,0.4,0.6,0.5,0.4,0.4,0.5,0.6,0.4
Regulatory Compliance,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
Use of Funds,Expand operations,Software development,Store expansion,Renovation & expansion,Equipment upgrade,Network expansion,Store renovation,Production expansion,Research & Development,Product diversification,...,Expansion of healthcare facilities,Upgrade of medical equipment,Renovation of healthcare centers,Expansion of medical insurance services,Upgrade of trauma care facilities,Modernization of medical services,Expansion of healthcare network,Investment in advanced medical technology,Expansion of healthcare services,Enhancement of medical insurance coverage
Loan Approved,1,0,1,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [16]:
loan_dataset_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Company Name           112 non-null    object
 1   Business Revenue       112 non-null    object
 2   Profitability          112 non-null    object
 3   Cash Flow              112 non-null    object
 4   Business Age           112 non-null    object
 5   Industry Sector        112 non-null    object
 6   Business Structure     112 non-null    object
 7   Ownership Structure    112 non-null    object
 8   Credit History         112 non-null    object
 9   Collateral Value       112 non-null    object
 10  Debt-to-Equity Ratio   112 non-null    float64
 11  Regulatory Compliance  112 non-null    object
 12  Use of Funds           112 non-null    object
 13  Loan Approved          112 non-null    int64
dtypes: float64(1), int64(1), object(12)
memory usage: 12.4+ KB

In [21]:
loan_dataset_5.describe()

       Debt-to-Equity Ratio  Loan Approved
count            112.000000            0.0
mean               0.499107            NaN
std                0.119681            NaN
min                0.300000            NaN
25%                0.400000            NaN
50%                0.500000            NaN
75%                0.600000            NaN
max                0.800000            NaN

In [23]:
1# count how many times laons were approved comparing to the size of the dataset
label_counts = loan_dataset_5["Loan Approved"].value_counts()

label_counts
# print("approved: ", label_counts[1])
# print("declined: ", label_counts[0])

Series([], Name: count, dtype: int64)

In [2]:
search_text = "agriculture news in zimbabwe"

In [7]:
# perform web scraping using serpaAPI

from serpapi import GoogleSearch

params = {
  "engine": "google_news",
  "q": search_text,
  "api_key": "e239f6bad23fe27424918dc5ffad115fb757819cd07d5f2d386f934bab67583b"
}

search = GoogleSearch(params)
results = search.get_dict()
news_results = results["news_results"]

In [8]:
print(news_results)

[{'position': 1, 'title': 'Transforming rural agriculture with improved seed and mechanization', 'source': {'name': 'CIMMYT', 'icon': 'https://encrypted-tbn3.gstatic.com/faviconV2?url=https://www.cimmyt.org&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL', 'authors': ['Shiela Chikulo', 'Kudzanai Chimhanda']}, 'link': 'https://www.cimmyt.org/news/transforming-rural-agriculture-with-improved-seed-and-mechanization/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNW1hWFIwTlcxUWEzZEhVM2hVVFJDM0FSaVRBaWdCTWdhQlVKaUhKUWs', 'date': '01/09/2024, 08:00 AM, +0000 UTC'}, {'position': 2, 'title': 'Zimbabwe sees decline in crop production due to drought', 'source': {'name': "Farmer's Weekly SA", 'icon': 'https://lh3.googleusercontent.com/JoutBRbgIs2DVN-oMUPdOcuCKzL3JzqbDpyWP1AbimxKIF9EZXlpsUtg65n8L0aJCcqc8DmtZg', 'authors': ['annelie coleman']}, 'link': 'https://www.farmersweekly.co.za/agri-news/africa/zimbabwe-sees-decline-in-crop-production-due-to-drought/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iJ0NnNUZXRzFpYlVndFNHZElSakJHVFJDeEFSaWRBaWdCTWdNbHNBZw', 'date': '03/26/2024, 03:00 AM, +0000 UTC'}, {'position': 3, 'title': 'Government intensifies maize mop up exercise – The Zimbabwe Mail', 'source': {'name': 'The Zimbabwe Mail', 'icon': 'https://encrypted-tbn3.gstatic.com/faviconV2?url=https://www.thezimbabwemail.com&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL'}, 'link': 'https://www.thezimbabwemail.com/farming-environment/agriculture-enviroment/government-intensifies-maize-mop-up-exercise/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNWhTa1JPYUVSYVdtOVVaM3BrVFJDM0FSaVRBaWdCTWdZQkVJQkptUWs', 'date': '03/25/2024, 11:15 PM, +0000 UTC'}, {'position': 4, 'title': 'Hundreds of white farmers return to Zimbabwe in boost for agriculture', 'source': {'name': 'The Telegraph', 'icon': 'https://lh3.googleusercontent.com/j2SlMa3ZNNfh4j2BbryariOGa9vuLPBcczFcHvCPyYKw4WILAQx1PSUExVHNIu7lGV5-SKmE7A', 'authors': ['Peta Thornycroft', 'Ben Farmer']}, 'link': 'https://www.telegraph.co.uk/global-health/climate-and-people/white-farmers-return-to-zimbabwe-agriculture-boost/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNVNaM0pVYW5ZelVUVlFMVTV4VFJDeEFSaWNBaWdCTWdhbHM0eXVRUVU', 'date': '09/04/2023, 07:00 AM, +0000 UTC'}, {'position': 5, 'title': "Zimbabwe's tobacco farmers brace for drought impact", 'source': {'name': 'Food For Mzansi', 'icon': 'https://lh3.googleusercontent.com/wdXCTCIn9dZ3fLROtjqahKVe1xcphMTIpAJFsy34pG9AKL1MlfDeLb7Jn5fhSUkfSs-a6NsDHg', 'authors': ['Hamond Motsi']}, 'link': 'https://www.foodformzansi.co.za/tobacco-marketing-opening-will-zimbabwe-reshine-amid-el-nino-events/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNTZWbEpOVFhOSE5IRklWSEJ4VFJDOUFSaUxBaWdCTWdZQk1JanZuQWs', 'date': '03/25/2024, 01:00 PM, +0000 UTC'}, {'position': 6, 'title': 'Yambasu grant helps mission farms flourish', 'source': {'name': 'UM News', 'icon': 'https://lh3.googleusercontent.com/jCHMmk20Amajl65w_vIi7ltoe8zm5HVycovmHwpO-2tWORVJmGgIa1f0RGqGnUg53zDdB7THig'}, 'link': 'https://www.umnews.org/en/news/yambasu-grant-helps-mission-farms-flourish', 'thumbnail': 'https://news.google.com/api/attachments/CC8iJ0NnNTFUWGxZYUhrMFltYzFjVVI1VFJDM0FSaVRBaWdCTWdNbE1nWQ', 'date': '09/05/2023, 07:00 AM, +0000 UTC'}, {'position': 7, 'title': 'NEW: Zimbabwe’s cotton farmers pocket US$20 million', 'source': {'name': 'sundaymail.co.zw', 'icon': 'https://encrypted-tbn3.gstatic.com/faviconV2?url=https://www.sundaymail.co.zw&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL'}, 'link': 'https://www.sundaymail.co.zw/new-zimbabwes-cotton-farmers-pocket-us20-million', 'thumbnail': 'https://news.google.com/api/attachments/CC8iMkNnNWtORGxwUzI1NVdXWklkMVZSVFJDb0FSaXNBaWdCTWdzQlFJWUFKS1VHNTNybVBR', 'date': '03/26/2024, 12:14 PM, +0000 UTC'}, {'position': 8, 'title': 'Egypt, Zimbabwe agree to boost cooperation in agriculture, infrastructure - Dailynewsegypt', 'source': {'name': 'Daily News Egypt', 'icon': 'https://lh3.googleusercontent.com/5tp9nziOYhottCkLFnoZnTKIgXgje2TnxOxNJCk-CiXkBILw0vAZn2Nb4oKioKaQT04MHEtR'}, 'link': 'https://www.dailynewsegypt.com/2023/11/15/egypt-zimbabwe-agree-to-boost-cooperation-in-agriculture-infrastructure/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iL0NnNTRWVzh5YlhKSWN6RTRlVlU0VFJEQ0FSaUVBaWdCTWdrQlFaRGpOcVl0ckFF', 'date': '11/15/2023, 08:00 AM, +0000 UTC'}, {'position': 9, 'title': 'Breaking news', 'source': {'name': 'Chronicle', 'icon': 'https://encrypted-tbn0.gstatic.com/faviconV2?url=https://www.chronicle.co.zw&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL'}, 'link': 'https://www.chronicle.co.zw/ariston-listed-agricultural-company-appoints-new-ceo/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNHlZWGMwZEVWeFgybFJkMnB4VFJDb0FSaXNBaWdCTWdZeE5aaVBIUWs', 'date': '03/26/2024, 07:33 AM, +0000 UTC'}, {'position': 10, 'title': 'Rural women rising: How climate-smart agriculture is empowering women farmers and bridging gender divides in ...', 'source': {'name': 'ReliefWeb', 'icon': 'https://lh3.googleusercontent.com/jaJdM8nW3-5-wqVikZqfyeyFFK4eWLXkw-T2tzK46k3owgbrRuFWSIksahjqm3icN6IdnI7zVw'}, 'link': 'https://reliefweb.int/report/zimbabwe/rural-women-rising-how-climate-smart-agriculture-empowering-women-farmers-and-bridging-gender-divides-southern-zimbabwe', 'thumbnail': 'https://news.google.com/api/attachments/CC8iKkNnNTZhMlZWV0hwVlRFZHBNVEJRVFJCdkdOd0JLQUV5QnJFRWhvOFJDZw', 'date': '02/29/2024, 02:27 AM, +0000 UTC'}, {'position': 11, 'title': 'El Nino-farmers suffer huge discounts on livestock', 'source': {'name': 'The Herald', 'icon': 'https://encrypted-tbn0.gstatic.com/faviconV2?url=https://www.herald.co.zw&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL', 'authors': ['Martin Kadzere']}, 'link': 'https://www.herald.co.zw/el-nino-farmers-suffer-huge-discounts-on-livestock/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNUxjRnBZZUVWNWRqTjJZblZEVFJDb0FSaXNBaWdCTWdhZEZZN0xIUWM', 'date': '03/24/2024, 10:07 PM, +0000 UTC'}, {'position': 12, 'title': 'The opportunities and challenges of mega-farming in Africa', 'source': {'name': 'The Zimbabwe Mail', 'icon': 'https://encrypted-tbn3.gstatic.com/faviconV2?url=https://www.thezimbabwemail.com&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL'}, 'link': 'https://www.thezimbabwemail.com/opinion/the-opportunities-and-challenges-of-mega-farming-in-africa/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iJ0NnNVhWRXMwYmpCbWNXWkZabUpCVFJDb0FSaXNBaWdCTWdPVkJ4bw', 'date': '03/25/2024, 12:30 PM, +0000 UTC'}, {'position': 13, 'title': 'Zimbabwean Farmers Turning to Conservation Agriculture', 'source': {'name': 'Voice of America - VOA News', 'icon': 'https://encrypted-tbn0.gstatic.com/faviconV2?url=https://www.voanews.com&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL', 'authors': ['Columbus Mavhunga']}, 'link': 'https://www.voanews.com/a/zimbabwean-farmers-turning-to-conservation-agriculture-/7034031.html', 'thumbnail': 'https://news.google.com/api/attachments/CC8iL0NnNXdVbEJwU0hwWUxUUlVTMU4zVFJDb0FSaXJBaWdCTWdtQmdJUXROZVFWZGdB', 'date': '04/03/2023, 07:00 AM, +0000 UTC'}, {'position': 14, 'title': 'Commercialising agriculture in Zimbabwe: new research on the political economy of agricultural development', 'source': {'name': 'ZAWYA', 'icon': 'https://encrypted-tbn2.gstatic.com/faviconV2?url=https://www.zawya.com&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL', 'authors': ['Ian Scoones']}, 'link': 'https://www.zawya.com/en/world/africa/commercialising-agriculture-in-zimbabwe-new-research-on-the-political-economy-of-agricultural-development-mkgpuhq8', 'thumbnail': 'https://news.google.com/api/attachments/CC8iJ0NnNVJRM0J5UVRaaVQwdHpObTFMVFJDM0FSaVVBaWdCTWdNVllCdw', 'date': '03/13/2024, 07:00 AM, +0000 UTC'}, {'position': 15, 'title': 'Zimbabwe : new african agricultural power house', 'source': {'name': 'Africanews English', 'icon': 'https://lh3.googleusercontent.com/PC9zbP6TQRuVsR_e4e7fzpGXiI0Az-9HSwoO35K23Y15ja1rT3FSkQ2y6gZREarFp5VJPJ_iQbY', 'authors': ['Nadia Colombe Gbane']}, 'link': 'https://www.africanews.com/2023/01/08/zimbabwe-new-african-agricultural-power-house/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iL0NnNHpkR2cyYkZaZk5sOVRaMGh1VFJDakFSaTJBaWdCTWdrQms1SlFzYWZZa1FF', 'date': '01/08/2023, 08:00 AM, +0000 UTC'}, {'position': 16, 'title': '‘Like slaves’: Zimbabwe farmworkers lash out at work conditions', 'source': {'name': 'Al Jazeera English', 'icon': 'https://lh3.googleusercontent.com/l-Ps9rkWuApN8G3MB5uZC_a5G7iKCTITjMdpZFhm2rQf3U2M2Yr_KTYpzpmOPxDiUKgb9yN9ha8'}, 'link': 'https://www.aljazeera.com/features/2023/2/21/in-zimbabwe-farm-labourers-decry-working-conditions', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNVJjblJaZEVaUGNGWkRRV05vVFJDb0FSaXNBaWdCTWdZQkFJZ1BKUVE', 'date': '02/21/2023, 08:00 AM, +0000 UTC'}, {'position': 17, 'title': "White farmers in Zimbabwe live and die with the toxic legacy of Mugabe's brutal land grab", 'source': {'name': 'The Telegraph', 'icon': 'https://lh3.googleusercontent.com/j2SlMa3ZNNfh4j2BbryariOGa9vuLPBcczFcHvCPyYKw4WILAQx1PSUExVHNIu7lGV5-SKmE7A', 'authors': ['Peta Thornycroft']}, 'link': 'https://www.telegraph.co.uk/news/2024/01/06/white-farmers-zimbabwe-toxic-legacy-mugabe-land-grab/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNXRWVmRNVDJaRmVWQlpkbVo0VFJDeUFSaWNBaWdCTWdZWlJwUXBvZ2c', 'date': '01/06/2024, 08:00 AM, +0000 UTC'}, {'position': 18, 'title': 'Zimbabwe: Foreign white farmers can apply to get seized land back', 'source': {'name': 'Al Jazeera English', 'icon': 'https://lh3.googleusercontent.com/l-Ps9rkWuApN8G3MB5uZC_a5G7iKCTITjMdpZFhm2rQf3U2M2Yr_KTYpzpmOPxDiUKgb9yN9ha8'}, 'link': 'https://www.aljazeera.com/economy/2020/9/1/zimbabwe-foreign-white-farmers-can-apply-to-get-seized-land-back', 'thumbnail': 'https://news.google.com/api/attachments/CC8iL0NnNXlNM2R2VEZadE9XMVRSa2Q2VFJDb0FSaXNBaWdCTWdrTkVKcUlGU29kaUFJ', 'date': '09/01/2020, 07:00 AM, +0000 UTC'}, {'position': 19, 'title': 'Breaking news', 'source': {'name': 'Chronicle', 'icon': 'https://encrypted-tbn0.gstatic.com/faviconV2?url=https://www.chronicle.co.zw&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL'}, 'link': 'https://www.chronicle.co.zw/watchfuture-of-zimbabwes-agriculture-lies-in-irrigation/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iI0NnNVNkSEZDVEhoclQzaElTV0pwVFJDb0FSaXNBaWdCTWdB', 'date': '01/03/2024, 08:00 AM, +0000 UTC'}, {'position': 20, 'title': 'Zimbabwe’s tobacco farmers plead for a better deal', 'source': {'name': 'Al Jazeera English', 'icon': 'https://lh3.googleusercontent.com/l-Ps9rkWuApN8G3MB5uZC_a5G7iKCTITjMdpZFhm2rQf3U2M2Yr_KTYpzpmOPxDiUKgb9yN9ha8', 'authors': ['Chris Muronzi']}, 'link': 'https://www.aljazeera.com/economy/2021/4/30/zimbabwes-tobacco-farmers-plead-for-a-better-deal', 'thumbnail': 'https://news.google.com/api/attachments/CC8iL0NnNXlZeTF1WXpkcFpYQlJRVmRKVFJEQ0FSaURBaWdCTWdrQkVKYURraXBEcUFJ', 'date': '04/30/2021, 07:00 AM, +0000 UTC'}, {'position': 21, 'title': 'Women in Agriculture: Zimbabwe Strives for Gender Equality – Food Tank', 'source': {'name': 'Food Tank', 'icon': 'https://encrypted-tbn2.gstatic.com/faviconV2?url=https://foodtank.com&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL', 'authors': ['Emily Seifert']}, 'link': 'https://foodtank.com/news/2014/12/women-in-agriculture-zimbabwe-strives-for-gender-equality/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNUtaMVp3UVVGdE5ucHFUMHBxVFJDdUFSaWlBaWdCTWdZUkVaS3drQW8', 'date': '12/11/2014, 08:00 AM, +0000 UTC'}, {'position': 22, 'title': "Zimbabwe's New Land Reforms Don't Go Far Enough", 'source': {'name': 'Foreign Policy', 'icon': 'https://encrypted-tbn1.gstatic.com/faviconV2?url=https://foreignpolicy.com&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL', 'authors': ['Tonderayi Mukeredzi']}, 'link': 'https://foreignpolicy.com/2019/07/31/zimbabwes-new-land-reforms-dont-go-far-enough-mugabe-mnangagwa-white-farmers/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNVVhRzg1TTA5TlJDMVpaRzlSVFJDM0FSaVRBaWdCTWdZWms1RE5OUWM', 'date': '07/31/2019, 07:00 AM, +0000 UTC'}, {'position': 23, 'title': 'Climate-Smart Agriculture Investments Required to Boost Agricultural Production in Zimbabwe', 'source': {'name': 'World Bank Group', 'icon': 'https://encrypted-tbn0.gstatic.com/faviconV2?url=https://www.worldbank.org&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL'}, 'link': 'https://www.worldbank.org/en/news/feature/2020/12/21/climate-smart-agriculture-investments-required-to-boost-agricultural-production-in-zimbabwe', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNUVabVJNUjNKTlpWQmpia3BQVFJDb0FSaXJBaWdCTWdZeEpZaXZGUWs', 'date': '12/21/2020, 08:00 AM, +0000 UTC'}, {'position': 24, 'title': "Fueled by climate change, Zimbabwe's erratic harvests cause farmers with HIV to struggle", 'source': {'name': 'CNN', 'icon': 'https://lh3.googleusercontent.com/8zdvTbISHUn-4iHkauW-_yQSGPD9BMrx9EWfqTIhiVm2YMYqhHC1HJWNDQoSOkMk0MRPYKxjIg', 'authors': ['Jacqui Thornton']}, 'link': 'https://www.cnn.com/2019/02/13/health/climate-change-zimbabwe-farmers-hiv-intl/index.html', 'thumbnail': 'https://news.google.com/api/attachments/CC8iL0NnNUxVamMyZVZaSldqVkxhR3RhVFJDb0FSaXNBaWdCTWdtZElwd0xGaXM5YUFJ', 'date': '02/13/2019, 08:00 AM, +0000 UTC'}, {'position': 25, 'title': 'Zimbabwe’s New Government Pushes to Strengthen Agriculture', 'source': {'name': 'Agribusiness Global', 'icon': 'https://encrypted-tbn0.gstatic.com/faviconV2?url=https://www.agribusinessglobal.com&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL', 'authors': ['Shem Oirere']}, 'link': 'https://www.agribusinessglobal.com/markets/zimbabwes-new-government-pushes-to-strengthen-agriculture-2/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNDBlalIwZEU5TWJuVm5hVmhhVFJDb0FSaXNBaWdCTWdZQkE1cUFvd2c', 'date': '08/27/2018, 12:07 PM, +0000 UTC'}, {'position': 26, 'title': 'Building towards a climate-smart agriculture future through harnessing crop modeling', 'source': {'name': 'CIMMYT', 'icon': 'https://encrypted-tbn3.gstatic.com/faviconV2?url=https://www.cimmyt.org&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL', 'authors': ['Sarah Mclaughlin']}, 'link': 'https://www.cimmyt.org/news/building-towards-a-climate-smart-agriculture-future-through-harnessing-crop-modeling/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNWZPVVJmUXpGV2FFdE1lRGhDVFJDM0FSaVRBaWdCTWdZQmdKQ2dOQVk', 'date': '02/24/2023, 08:00 AM, +0000 UTC'}, {'position': 27, 'title': 'Farmers urged to adopt smart agriculture to beat droughts', 'source': {'name': 'The Herald', 'icon': 'https://encrypted-tbn0.gstatic.com/faviconV2?url=https://www.herald.co.zw&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL'}, 'link': 'https://www.herald.co.zw/farmers-urged-to-adopt-smart-agriculture-to-beat-droughts/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNWtabFpWT1VoNVluZzJWMkpRVFJDb0FSaXNBaWdCTWdZdFZZYXVLUWM', 'date': '09/18/2023, 07:00 AM, +0000 UTC'}, {'position': 28, 'title': 'Farmers in Buhera gear up for climate-smart agriculture', 'source': {'name': 'CIMMYT', 'icon': 'https://encrypted-tbn3.gstatic.com/faviconV2?url=https://www.cimmyt.org&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL', 'authors': ['Tawanda Hove']}, 'link': 'https://www.cimmyt.org/news/farmers-in-buhera-gear-up-for-climate-smart-agriculture/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNWtUamg1WHkxVExWTjBNM0JSVFJDM0FSaVRBaWdCTWdhSk1KQ0ZJQWs', 'date': '02/21/2023, 08:00 AM, +0000 UTC'}, {'position': 29, 'title': 'Zimbabwe to pay white farmers $3.5bn in land compensation deal', 'source': {'name': 'Al Jazeera English', 'icon': 'https://lh3.googleusercontent.com/l-Ps9rkWuApN8G3MB5uZC_a5G7iKCTITjMdpZFhm2rQf3U2M2Yr_KTYpzpmOPxDiUKgb9yN9ha8'}, 'link': 'https://www.aljazeera.com/economy/2020/7/29/zimbabwe-to-pay-white-farmers-3-5bn-in-land-compensation-deal', 'thumbnail': 'https://news.google.com/api/attachments/CC8iL0NnNTRXamxPYjNORmNXRkZNR2RYVFJDM0FSaVRBaWdCTWdtQmNJeU5PS2JRU2dF', 'date': '07/29/2020, 07:00 AM, +0000 UTC'}, {'position': 30, 'title': 'AI: A game changer for agriculture in Zimbabwe', 'source': {'name': 'Chronicle', 'icon': 'https://encrypted-tbn0.gstatic.com/faviconV2?url=https://www.chronicle.co.zw&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL'}, 'link': 'https://www.chronicle.co.zw/ai-a-game-changer-for-agriculture-in-zimbabwe/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNVJWM1JHV25ONVprWnBWR1owVFJDb0FSaXNBaWdCTWdZdEZaaXZsUWs', 'date': '11/25/2023, 08:00 AM, +0000 UTC'}, {'position': 31, 'title': 'Re-engagement: Zimbabwe in inaugural New Zealand agriculture fair', 'source': {'name': 'Chronicle', 'icon': 'https://encrypted-tbn0.gstatic.com/faviconV2?url=https://www.chronicle.co.zw&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL'}, 'link': 'https://www.chronicle.co.zw/re-engagement-zimbabwe-in-inaugural-new-zealand-agriculture-fair/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNVlSMUphWlRWWk9GOVRPWFpFVFJDb0FSaXNBaWdCTWdZbEpwenNHUW8', 'date': '06/13/2023, 07:00 AM, +0000 UTC'}, {'position': 32, 'title': 'Agriculture, commodities and post harvest challenges', 'source': {'name': 'The Herald', 'icon': 'https://encrypted-tbn0.gstatic.com/faviconV2?url=https://www.herald.co.zw&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL'}, 'link': 'https://www.herald.co.zw/agriculture-commodities-and-post-harvest-challenges/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNUpURWRYYlRkNFJFbGxTWEZwVFJDb0FSaXNBaWdCTWdZQkFJWkZGQVk', 'date': '08/10/2023, 07:00 AM, +0000 UTC'}, {'position': 33, 'title': 'Climate-smart agriculture: A winning strategy for farming families in El Niño seasons', 'source': {'name': 'CIMMYT', 'icon': 'https://encrypted-tbn3.gstatic.com/faviconV2?url=https://www.cimmyt.org&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL', 'authors': ['Shiela Chikulo']}, 'link': 'https://www.cimmyt.org/news/climate-smart-agriculture-a-winning-strategy-for-farming-families-in-el-nino-seasons/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNVhWRk5mVmpWdlVVb3lWbUZHVFJEREFSaURBaWdCTWdaQllwTDBwQWc', 'date': '09/20/2019, 07:00 AM, +0000 UTC'}, {'position': 34, 'title': 'Farmers urged to insure crops', 'source': {'name': 'The Herald', 'icon': 'https://encrypted-tbn0.gstatic.com/faviconV2?url=https://www.herald.co.zw&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL'}, 'link': 'https://www.herald.co.zw/farmers-urged-to-insure-crops/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iK0NnNUNlWFpPVERVemNtNVpka3hhVFJDb0FSaXNBaWdCTWdZMVpJQndLUWM', 'date': '09/25/2023, 07:00 AM, +0000 UTC'}, {'position': 35, 'title': 'FAO and AFC Land and Development Bank of Zimbabwe launch new loan management and e-voucher system', 'source': {'name': 'The Zimbabwe Mail', 'icon': 'https://encrypted-tbn3.gstatic.com/faviconV2?url=https://www.thezimbabwemail.com&client=NEWS_360&size=96&type=FAVICON&fallback_opts=TYPE,SIZE,URL'}, 'link': 'https://www.thezimbabwemail.com/farming-environment/agriculture-enviroment/fao-and-afc-land-and-development-bank-of-zimbabwe-launch-new-loan-management-and-e-voucher-system/', 'thumbnail': 'https://news.google.com/api/attachments/CC8iL0NnNVlhMjl5Wm5sWVpGOUliWFJyVFJDb0FSaXNBaWdCTWdtZFZZRHJwU2lEV2dB', 'date': '01/25/2024, 08:00 AM, +0000 UTC'}, {'position': 36, 'title': 'Conservation agriculture contributes to Zimbabwe economic recovery | FAO', 'source': {'name': 'Food and Agriculture Organization of the United Nations', 'icon': 'https://encrypted-tbn1.gstatic.com/faviconV2?url=https://www.fao.org&client=NEWS_360&size=96&type=FAVICON&fallback_opts